.manage-schedule-container {
  .manage-schedule-title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
  }
  .pick-hour-container {
    margin: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    button {
      padding: 5px 10px;
      border: 1px solid gray;
    }
    .btn-schedule {
      &.isSelected {
        background-color: #f7d800;
      }
    }
  }
  .btn-save {
    margin-left: 14px;
  }
}
