.doctor-detail-containers {
  .intro-doctor {
    padding: 15px 200px;
    display: flex;

    background: #fff;

    .content-left {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 120px !important;
      width: 120px !important;
      margin: 0 auto;
      border-radius: 50%;
    }
    .content-right {
      width: 80%;
      .title-doctor {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
  .schedule-doctor {
    padding-top: 10px;
    height: 332px;
    margin: 0 182px;
    display: flex;
    gap: 10px;
    .content-left {
      width: 50%;
    }
    .content-right {
      width: 50%;
      border: 1px solid green;
    }
  }
  .detail-infor-doctor {
    background-color: #f5f5f5;
    padding-top: 15px;
    border-top: 1px solid black;
    .content-detail {
      padding: 15px 200px;
      font-size: 15px;
    }
  }
}
