.section-specialty {
  background: #f5f5f5;
  border: 1px solid red;
  .specialty-container {
    height: 400px;
    margin: 0 155px;
    display: flex;
    flex-direction: column;
    .specialty-header {
      height: 60px;
      padding-top: 15px;
      .title-section {
        font-size: 20px;
        font-weight: 600;
      }
      .btn-more {
        float: right;
        padding: 6px 10px;
        border: none;
        outline: none;
        cursor: pointer;
        background: #f5f5f5;
        text-transform: uppercase;

        &:hover {
          background: #f7f800;
          color: #fff;
        }
      }
    }
    .specialty-body {
      .img-customize {
        .bg-cus {
          background: url("../../../assets/imageSpecialty/120331-co-xuong-khop.jpg");
          width: 278px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #eee;
          height: 150px;
        }
      }
      .slick-prev {
        // position: relative !important;
        left: -10px !important;
        z-index: 10; // de khong bị đè
        height: 48px !important;
        width: 44px !important;
        background: #fff !important;
        border: 2px solid #d7d7d7 !important;
        &:hover {
          background: #d7d7d7 !important;
        }
      }
      .slick-prev:before,
      .slick-next:before {
        font-family: FontAwesome !important;
        color: red !important;
      }
      .slick-next {
        right: -10px !important;
        height: 48px !important;
        width: 44px !important;
        background: #fff !important;
        border: 2px solid #d7d7d7 !important;
        z-index: 10;
        &:hover {
          background: #d7d7d7 !important;
        }
      }
    }
  }
}
//reset slick-slide-css
